.section {
  width: 100%;
  padding: 4rem 1.5rem;
  border-bottom: 10px solid var(--border-section-color);
}

.section .section_title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.container_questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

.container_questions .question {
  cursor: pointer;
  margin: 0 .5rem;
}

.container_questions .question .title {
  font-weight: 400;
  padding: 1.5rem;
  background-color: rgb(45, 45, 45);
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: rgb(65, 65, 65);
  }
}

.container_questions .question .title svg {
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container_questions .question .answer {
  padding: 0 1.5rem;
  background-color: rgb(45, 45, 45);
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  visibility: collapse;
  transition: all 250ms cubic-bezier(0.5, 0, 0.1, 1);
}

.container_questions .question .answer.is-show p {
  opacity: 0;
  transition: all 250ms cubic-bezier(0.5, 0, 0.1, 1);
}

.container_questions .question .answer.is-show {
  max-height: none;
  overflow: hidden;
  visibility: visible;
  padding: 1.5rem;
}

.container_questions .question .answer.is-show p {
  opacity: 1;
}

.container_questions .question .title.is-show svg {
  transform: rotate(-45deg);
}

@media screen and (min-width: 992px) {

  .section .section_title {
    font-size: 3rem;
    font-weight: 900;
  }

  .container_questions {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .container_questions .question .title,
  .container_questions .question .answer {
    font-size: 1.5rem;
  }
}